<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render "layouts/rails_admin/head" %>
    <%= tinymce_assets data: { turbo_track: "reload" } %>
    <script type="text/javascript" src="/assets/tinymce.js"></script>
  </head>
  <body class="rails_admin">
    <div data-i18n-options="<%= I18n.t("admin.js").to_json %>" id="admin-js"></div>
    <div class="badge bg-warning" id="loading" style="display:none; position:fixed; right:20px; bottom:20px; z-index:100000">
      <%= t('admin.loading') %>
    </div>
    <nav class="navbar navbar-expand-md fixed-top <%= RailsAdmin::Config.navbar_css_classes.join(' ') %>">
      <%= render "layouts/rails_admin/navigation" %>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 flex-wrap p-0">
          <%= render "layouts/rails_admin/sidebar_navigation" %>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
          <div class="container-fluid">
            <%= render template: 'layouts/rails_admin/content' %>
          </div>
        </div>
      </div>
    </div>
        <script type="text/javascript">
          //tinymce.init({
         //secslector: ".tinymce",
        // relative_urls : false,
    //     remove_script_host : false,
    //     images_upload_url: '/tinymce_assets',
    //     plugins: 'lists link image table code help wordcount',
    //     toolbar: "undo redo | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link"
    // });

    tinymce.init({
      selector: '.tinymce', // Match elements with this class
      images_upload_url: '/tinymce_assets',
      plugins: 'lists link image table code help wordcount',
      toolbar: "undo redo | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link",
      menubar: true,
      height: 300,
      relative_urls : false,
      remove_script_host : false,
    });

    
    </script>
  </body>
</html>